* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 500;
    color: rgb(33, 32, 32);
}

body {
    background-color: rgb(236, 235, 235);
    position: relativel
}

#topsection {
    background-color: white;
    /* width: 100%;
    padding-left: 40px;
    ;
    padding-top: 5px;
    ;
    position: sticky;
    top: 0px;
    ; */
    height: 100px;
    padding-left: 11%;
    display: flex;
    align-items: center;
}

#topsection>img {
    width: 200px;
}

#outerbox {
    display: flex;
    width: 70%;
   
    margin: auto;
    margin-top: 50px;;
    gap: 30px;
    justify-content: space-between;
    align-items: flex-start;
}

#rightbox {
   
    background-color: white;
    width: 47%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding:35px;

}


#centerbox {
    
    background-color: white;
    width: 47%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding:35px;
}

#centerbox>h2:nth-child(1) {
    margin-bottom: 20px;
    ;
}



#socialmedia {
    display: flex;
    gap: 10px;
    


}


#socialmedia div {
    width: 50%;
    display: flex;
    border: 1px solid rgb(144, 143, 143);

    align-items: center;
    padding: 10px;
    justify-content: center;


}

#socialmedia div:hover {
    border: 0px;
    background-color: rgb(236, 235, 235);
    ;
    cursor: pointer;


}

#socialmedia img {
    width: 17%;
    margin-right: 10px;
    ;
}

#form {
    display: flex;
    flex-direction: column;
    ;
}


label {
    margin-bottom: 7px;
    ;
}

input {
    margin-bottom: 32px;
    ;
    border-radius: 5px;
    ;
    padding: 14px;

    border: 1px solid rgb(144, 143, 143);
    font-weight: 100;
    font-size: 16px;;
    color:rgb(72, 71, 71)
    
}

#submit, #register {
    background-color: rgb(59, 58, 58);
    border: 0px;
    color: white;
    font-size: 16px;
    margin-top: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 2;
    letter-spacing: 1px;
    padding: 15px;
    border-radius: 0px;;

}
#submit:hover {
    background-color: rgb(16, 194, 194);

    color: black;

}

#register:hover {
    background-color: rgb(16, 194, 194);

    color: black;

}

#forgot
{
    font-weight: lighter;
    text-decoration: underline;
    margin-top: 10px;;
    margin-bottom: 10px;;
    color:rgb(59, 58, 58)
}

#form+p
{
    font-weight: lighter;
    
    font-size: 16px;
    color:rgb(59, 58, 58)
}
.formerror
{
    display:none;
   
    align-items: center;
    background-color: rgb(244, 225, 222);
    padding:9px;
    border-radius: 5px;;
    margin-top: -25px;;
    margin-bottom: 30px;;
}
.formerror>span
{
    
    margin-left: 5px;;
    color:rgb(196, 44, 33);
    font-size: 14px;;
    font-weight: 400;
    word-spacing: 1.5px;;
}
#invalid
{
    
    display:none;
    flex-direction: row;
    gap:20px;
    line-height: 25px;;
    align-items: center;
    background-color: rgb(244, 225, 222);
    padding:14px 40px 14px 20px;
    
    
    
    margin-top: -10px;;
    margin-bottom: 17px;;
    
}
#invalid>p
{
    color:rgb(196, 44, 33);
    font-weight: 500;
    
}
