*
{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: sans-serif;
    font-weight: 500;
    color:rgb(33, 32, 32);
}
body
{
    background-color: rgb(236, 235, 235);
    position:relativel
}
#topsection
{
    position: fixed;
    background-color: white;
    width:100%;
    top: 0px;
    /* padding-left: 40px;;
    padding-top: 5px;;
    position: sticky;
     */
    height: 100px;
    padding-left: 11%;
    display: flex;
    align-items: center;
}
#topsection>img
{
    width: 200px;
}
#centerbox
{
    background-color: white;
    width:50%;
    display:flex;
    flex-direction: column;
    gap:20px;
    margin:auto;
    margin-top:150px;
    padding:35px;
}
#centerbox>h2:nth-child(1)
{
    margin-bottom: 50px;;
}
h3
{
    font-weight: 530;
}
#socialmedia
{
    display: flex;
    gap:10px;
    margin-bottom: 25px;;
    
    
}
hr
{
   
   height:2px;
}
#socialmedia div
{
    width:50%;
    display:flex; 
    border:1px solid rgb(144, 143, 143);
   
    align-items: center;
    padding:10px;
    justify-content: center; 

    
}

#socialmedia div:hover
{
    border:0px;
    background-color: rgb(236, 235, 235);;
    cursor: pointer;
    
    
}
#socialmedia img
{
    width:10%;
    margin-right: 10px;;
}
#form
{
    display:flex;
    flex-direction: column;;
}
#form> p
{
    margin-top:-20px;
    margin-bottom: 28px;
    font-size: 14px;
    color:gray;
}

label
{
    margin-bottom: 7px;;
}
input
{
    margin-bottom: 32px;;
    border-radius: 5px;;
    padding: 14px;

    border: 1px solid rgb(144, 143, 143);
    font-weight: 100;
    font-size: 16px;;
    color:rgb(72, 71, 71)
}
#form>#submit
{
    background-color: rgb(59, 58, 58);
    border:0px;
    color:white;
    font-size: 16px;
    margin-top: 16px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 2;
    letter-spacing: 1px;
    padding:15px;


    
}
#form>#submit:hover
{
    background-color:rgb(16, 194, 194);
    
    color:black;
    

    
}
#referral
{  
    background-color: rgb(236, 235, 235);
    padding:20px 15px 20px 15px;
    margin-bottom: 20px;;
    border-radius: 6px;;
    
}
#referral> p
{
   margin-top: 5px;;
    
    font-size: 14px;
    color:gray;
}
#referral>input
{
width:100%;
padding:15px;
margin-top: 8px;;

}
#referral>input
{
    margin-bottom:0px;
}
span
{
    color:rgb(103, 103, 103);
    font-weight: 300;
}
#condition
{
    font-weight:lighter;
    color:rgb(78, 78, 78);

}
#condition>span
{
    font-weight: 500;
    text-decoration: underline;
    color:black;
    font-size: 17px;;
}
.formerror
{
    display:none;
   
    align-items: center;
    background-color: rgb(244, 225, 222);
    padding:9px;
    border-radius: 5px;;
    margin-top: -25px;;
    margin-bottom: 30px;;
}
.formerror>span
{
    
    margin-left: 5px;;
    color:rgb(196, 44, 33);
    font-size: 14px;;
    font-weight: 400;
    word-spacing: 1.5px;;
}




